@font-face {
    font-family: "Yellow Ginger";
    src: url("../assets/Yellow\ Ginger.ttf");
  }

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap%27');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


section.top_page {
    background-image: url("../assets/louis-hansel-shotsoflouis-_dNpoWtZRto-unsplash.jpg");
    background-size: cover; 
    background-position: center center; 
    height: 50vh;
}

#vegan {
    font-family: "Yellow Ginger";
}

.jumbotron h1 {
    color: white;
    margin: 70px 0;
    font-size: 7.5vw;
    line-height: 1.5;
    font-family: "Yellow Ginger";
}


.intro {
    padding-top: 150px;
}

.navbar {
    padding-top: 40px;
    width: 1050px;
    margin: auto;
}

/*
.nav-item {
    font-weight: bold;
}
*/

.vegan {
    font-family: "Yellow Ginger";
}




/*
body {
    margin: 0 auto;
    padding: 0;
    background-color: black;
}


header {
    background-image: url("../assets/louis-hansel-shotsoflouis-_dNpoWtZRto-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 30vh;
    height: 40vh;
}

.navbar {
    padding-top: 40px;
    margin: auto;
}


h1 {
    font-family: "Yellow Ginger";
    color: white;
    font-size: 7vw;
    text-align: center;
    margin-top: 100px;
}

*/

li, a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

footer {
    background-color: #898A62;
    margin-top: 40px;
    padding: 40px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

footer h3, a {
    color: white;
}


footer a:hover {
    color: white;
}

footer p {
    color: white;
    line-height: 30px;
}

footer ul li  {
    line-height: 30px;
    text-decoration: none;
    list-style: none;
}

ol, ul {
    padding-left: 0rem;
}

.segment-two ul li {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 30px;
}

/* Menu Anim */ 

.navbar a {
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
}

.navbar a:hover {
    color:#7CA200;
    transition: ease-in-out all .5s;
}