
@font-face {
    font-family: "Yellow Ginger";
    src: url(../assets/Yellow\ Ginger.ttf);
}

@font-face {
    font-family:"Kurale";
    src: url(https://fonts.googleapis.com/css2?family=Kurale&display=swap%27);
}

@import url(https://fonts.googleapis.com/css2?family=Kurale&display=swap%27);

* {
    box-sizing: border-box;
}

/* ------------------- NavBar ------------------- */

section.top_page {
    background-position: center center; 
    height: 0vh;
} 

.intro {
    padding-top: 150px;
}

.navbar {
    padding-top: 40px;
    width: 1050px;
    margin: auto;
  
} 

.vegan {
    font-family: "Yellow Ginger";
}

.badge.badge-default.badge-pill {
    font-weight: bold;
    font-size: 20px;
}

.navbar a {
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
}

.navbar a:hover {
    color:#7CA200;
    transition: ease-in-out all .5s;
}




/* -------------------- Header ------------------ */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Yellow Ginger";
}

.header {
    height: 50vh;
    background-image: url(../assets/jade-wulfraat-yXnPoTkkY94-unsplash\(1\).jpg);
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
}

h1 {
    color: #ffffff;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
    font-size: 7.5vw;
    
}

/* --------------------- Body -------------------- */

li h2 {
    padding-top: 3em;
    display:flex;
    justify-content: center;
    color:#898A62;
    font-family: "Kurale";
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 6vw;
    margin-top: -3vw;
}    

h3 {
    display:flex;
    justify-content: center;
    color:#898A62 ;
    margin-top: 6vh;
    
}

 li p {
    padding-top: 0em;
    padding-left: 12.5em;
    padding-right: 12.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    color:#898A62 ;
    font-family: 'Open Sans', sans-serif;
    opacity: 70%;
   
    
}

.container span {
    padding-top: 1.5em;
    padding-bottom: 1.875em;
    display:flex;
    justify-content:center;
    color: #898A62;
    
}    

li, a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    
}

a {
    color: white;
}

a:hover {
    color: #ffffff;
}

li #titre {
    text-transform: uppercase;
}

.menuContent {
    margin-top: 20px;
}

/* ----------- Footer ------------*/

 footer {
    background-color: #898A62;
    margin-top: 40px;
    padding: 40px;
}

footer p {
    color: white;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
}

footer ul li a {
    line-height: 30px;
}

ol, ul {
    padding-left: 0rem;
}

.segment-two ul li {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 30px;
}

.titlefoot {
    color: white;
    font-family: 'Open Sans', sans-serif;
    display: initial;
}

input {
    font-family: 'Open Sans', sans-serif;
}   