@font-face {
    font-family: "Yellow Ginger";
    src: url("../assets/Yellow\ Ginger.ttf");
  }

@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

section.top_page {
    background-image: url("../assets/ivan-stern-resized.jpg");
    background-size: cover; 
    background-position: center center; 
    height: 50vh;
}

.vegan {
    font-family: "Yellow Ginger";
}

.intro {
    padding-top: 150px;
}

.navbar {
    padding-top: 40px;
    width: 1050px;
    margin: auto;
}

.navbar a {
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
}

.navbar a:hover {
    color:#7CA200;
    transition: ease-in-out all .5s;
}

li, a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

a {
    color: white;
}

a:hover {
    color: #ffffff;
}

li #titre {
    text-transform: uppercase;
}

.header {
    height: 50vh;
    background-image: url(../assets/nick-karvounis-Ciqxn7FE4vE-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
}

h1 {
    margin-top: 10vw;
    color: #ffffff;
    font-family: "Yellow Ginger";
    font-size: 7.5vw;
}

.titleTwo {
    display: flex;
    justify-content: center;
}

h2 {
    color: #898A62;
    font-family: 'Kurale', serif;
    font-size: 2rem;
    font-weight: 100;
    border-bottom: 0.15rem solid #7CA200;
    margin-top: 2.34vw;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.firstBloc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.68vw;
}

.restoImg {
    height: 70vh;
    background-image: url(../assets/michael-browning-MtqG1lWcUw0-unsplash.jpg);
    background-size: cover;
}

.hResto {
    color: black;
    font-weight: 700;
    margin-bottom: 1vw;
    opacity: 70%;
}

.restoP {
    opacity: 70%;
}

.titleThree {
    display: flex;
    justify-content: center;
}

.secondBloc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.68vw;
}

.locationTxt {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    opacity: 70%;
}

iframe {
    width: 45vh;
    height: 35vh;
}

.thirdBloc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.68vw;
}

.scheduleTxt {
    display: flex;
    justify-content: center;
}

.scheduleList {
    margin-top: -3vw;
}

.scheduleList li {
    color: black;
    opacity: 70%;
    text-align: center;
}

footer {
    background-color: #898A62;
    margin-top: 40px;
    padding: 40px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

footer p {
    color: white;
    line-height: 30px;
}

footer ul li a {
    line-height: 30px;
}

ol, ul {
    padding-left: 0rem;
}

.segment-two ul li {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 30px;
}

#vegan {
    font-family: "Yellow Ginger";
}

.jumbotron h1 {
    color: white;
    margin: 70px 0;
    font-size: 7.5vw;
    line-height: 1.5;
    font-family: "Yellow Ginger";
}


.intro {
    padding-top: 150px;
}

.navbar {
    padding-top: 40px;
    width: 1050px;
    margin: auto;
}

.vegan {
    font-family: "Yellow Ginger";
}
